# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test verification scripts
test_booking.py
test.json
test_post.py

# Firebase Secrets
nanny-go-f28dc-firebase-adminsdk-fbsvc-1171462493.json
